/*验证信息*/
.validation-mes {
  position: absolute;
  line-height: 24px;
  padding: 4px;
  font-size: 12px;
  border-radius: 8px;
  right: 0;
  color: white;
  animation: flash 2s linear infinite;
  -webkit-animation: flash 2s linear infinite;
}

/*首页验证单独处理*/
.hasLabel-right .validation-mes {
  right: 88px;
}

@keyframes flash {
  0% {
    background-color: rgba(224, 85, 85, 0.7);
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: rgba(224, 85, 85, 0.7);
  }
}

@-webkit-keyframes flash {
  0% {
    background-color: rgba(224, 85, 85, 0.7);
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: rgba(224, 85, 85, 0.7);
  }
}
